<% @places.each do |place| %>
  <div class="placesbox col-xs-10 col-xs-offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>
<%end%>

<div class="container-fluid"> 
  <div class="row">
    <div class="pageinfo col-xs-5 col-xs-offset-1" style="text-align: left">
    <%= page_entries_info @places %>
    </div>
    <div class="pagelink col-xs-5 " style="text-align: right">
    <%= paginate @places %>  
    </div>
  </div>
</div>

